---
version: '3'
services:

  mailhog:
    image: mailhog/mailhog
    ports:
      - '58025:8025'
      - '51025:1025'

  postgres:
    image: postgres:12-alpine
    ports:
      - '40764:5432'
    environment:
      POSTGRES_PASSWORD: postgres

  hasura:
    image: hasura/graphql-engine:v1.3.3
    ports:
    - "8080:8080"
    depends_on:
    - "postgres"
    restart: always
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true" # set to "false" to disable console
      HASURA_GRAPHQL_DEV_MODE: "true"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_ADMIN_SECRET: secret
